.new-todo-form {
    display: flex;
    flex: 1;
    justify-content: center;
}

.new-todo-input {
    border-color: transparent;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    flex: 1;
    margin-right: 20px;
}

.new-todo-button {
    width: 40%;
    background-color: greenyellow;
    padding: 7px;
    border-radius: 5px;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}