.todo-item-container {
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #000;
    margin-top: 15px;
    padding: 10px;
}

.buttons-container {
    margin-top: 15px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.completed-button,
.remove-button {
    width: 25%;
    padding: 7px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed-button {
    background-color: greenyellow;
    margin-right: 20px;
}

.remove-button {
    background-color: red;
}